@charset "UTG-08";
@font-face {
    font-family: "Aldero";
    src: url(../_fontes/Aldero\ Bold.ttf) format"truetype";
    font-style: normal;
    font-weight: bold;

    font-family: "Aldero";
    src: url(../_fontes/Aldero\ Regular.ttf) format"truetype";
    font-style:normal;
    font-weight:normal;

    
    font-family: "Aldero";
    src: url(../_fontes/Aldero\ Light.ttf) format"truetype";
    font-style:normal;
    font-weight:lighter;

}
body{
    width: 100vw;
    
}
body{
    margin: 0px 0px 0px 0px;
    border: 0px;
}
header{
    
    display: block;
    background-color: #0f1d40;
    color: white;
    height: 10em;
    margin: 0px;
}
header>img{
    position: relative;
    left: 1em;
    top: 1.5em;

}
header>h1{
    position: absolute;
    left: 2.6em;
    top: -1.9em;
    font-family: "Aldero";
    font-weight: bold;
}
header>h1>a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Aldero";
    font-weight: bold;
}
nav.menu ul{
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: -11em;
    right: -50em;
}
nav.menu li{
    display: inline-block;
    background-color: #0f1d40;
    padding: 0.75em;
    margin: 0.3em;
    border-radius: 1em;
     
}
nav.menu li:hover{
    display: inline-block;
    background-color: #005ac1;

}
h4#saibamais{
    display: inline-block;
    position: absolute;
    left: 2em;
    top: 5em;
    padding: 1em 2em 1em 2em;
    background-color: #005ac1;
    color: white;
    font-family: "Aldero";
    font-weight: bolder;
    
}
h4#saibamais:hover{
    
    background-color: #0f1d40;
    transition: 0.7s;
   
}
nav.menu a{
   
    text-decoration: none;
    color: white;
   
}

nav.menu li:hover{
    
    background-color: #005ac1;
    transition: 0.7s;
}

h1{
    font-family: "Aldero";
    font-weight: bold;
    font-style:normal ;
    font-size: 3em;
}
section#principal{
    
    max-width: 1150px;
    
    
}
section#principal picture{
    display: block;
    max-width: 1150px;
   
    
}

picture#banner{
 
    position: absolute;
    top:10em; 
    right: 0px;

}
figure-caption#textobanner{
    position: absolute;
    left: 2em;
    top: 4em;
    font-size: 0.9vw;
    
    
}
h2{
    font-family: "Aldero";
    font-weight: bold;
    font-size: 1.5em;
}
h3{
    font-family:"Aldero";
    font-weight: normal;
    font-size: 1.5em;
}
h4#saibamais{
    text-align: left;
    font-family:"Aldero";
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
}
h4#solucao{
    text-align: center;
    font-family:"Aldero";
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    margin:  auto;
}
section#texto  {
    display:block;
    font-family: "Aldero";
    font-weight: bold;
    border-bottom:  8px solid #005ac1;
    background-color: white;
    position: absolute;
    top: 30em;
    margin: auto;
    border-spacing: 1px;
       
}
footer{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
    background-color: #0f1d40;
    color: white;
    position: fixed;
    bottom: 0em;
}
footer>h6{
    font-family: "Aldero";
    font-weight: bold;
    font-size: 1em;
    
}